 /**************************************************************************************************/
/* Fichier ...................... : style.css */
/* Titre ........................ : Lab Web */
/* Auteur ....................... : Amélie Frappier et Antony Garand */
/* Date de création ............. : 2016-08-22 */
/* Date de mise en ligne ........ : Jamais */
/* Date de mise à jour .......... : 2016-09-22 */
/*******************************************************************************************************/

/*Couleurs:
- Rouge : #FF4A07
- Orange : #FF9F07
- Bleu : #09AAC1
- Blanc : #FFFAFB
- Noir : #000708
 */

/* ---------------- Général ------------------ */

* {
    box-sizing:border-box;
    display:inline-block;
}

script {
    display:none;
}

body {
    position:relative;
    top:-20px;
    background-color: #FFFAFB;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    color: #000708;
    width:100%;
    margin: 0;
    padding: 0;
}

img {
    max-width:100%;
}

h1, h2, h3, h4, h5, h6 {
    margin:5px 0;
    display:block;
}

h2 {
    font-size:26px;
    font-weight:bold;
    color:#000708;
    padding:0;
}

h3 {
    color:#FF4A07;
}

.container {
    display:block;
    position:relative;
    top: 0px;
    width: 70%;
    min-width:830px;
    margin: 0 auto; /* Centers the elements in the navigator */
}

a, a:visited, a:active {
    color:#FF4A07;
}

a:hover, a:focus {
    color:#FF9F07;
}

.hidden {
	display:none;
}

/* ---------------- Navigation ------------------ */

#mainMenu {
    width:100%;
    padding-bottom:15px;
    height:150px;
    padding-top:20px;
}

nav {
    position:absolute;
    top:0px;
    width:100%;
    height: 130px;
    background: linear-gradient(#09AAC1, #FFFAFB); /* Standard syntax */
    padding:0 15px;
}
#menuNav {
    height: 100%;
    float: right;
}

#logo {
    margin:15px 20px;
}
.menuOption {
    text-align: right;
    font-weight: bold;
    display: block;
    vertical-align: top;
}
.menuOption a, .menuOption a:visited, .menuOption a:active {
    color: #FFFAFB;
    margin: 20px;
    margin-bottom: 5px;
    margin-right: 3px;
}

.menuOption a:hover, .menuOption a:focus {
    color: #FF9F07;
}

.navOption {
    display: block;
    vertical-align: bottom;
}
.nav {
    font-size: 20pt;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px 0 5px;
}

.red{
    color: #FF4A07 !important;
}
.yellow {
    color: #FF9F07 !important;
}

.searchIcon {
    margin-left: -30px;
}
.searchIcon:hover{
    cursor: pointer;
}

/* ---------------- Formulaire ------------------ */
input, select{
    width:240px;
    height:30px;
    padding:5px;
    border-radius:2pt;
    background-color:rgba(255,255,255,0);
    border:solid 1px #000708;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    color:#FF9F07;
    margin:8px 0;
}

input:focus{
    border:solid 1px #FF9F07;
}

input:-webkit-autofill {  /* Removes default autofill calors in Chrome */
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    color:color:#FF9F07 !important;
}

input[type="button"], input[type="submit"]{
    background-image:url('../img/graphiques/bouton.png');
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
    border:none;
    width:120px;
    height:37px;
    color:#FFFAFB;
}

input[type="checkbox"] {
    width:20px;
    height:20px;
    margin-right:5px;
    color: #09AAC1;
}

input[name="search"]{
    width:220px;
    color: #FFFAFB !important;
    background-position:right;
    background-repeat:no-repeat;
}

fieldset {
    border:none;
    padding:5px;
    width: 100%;
    margin-bottom:20px;
}
option {
    /*Prevent horizontal selection in firefox*/
    display: block;
}

/* ---------------- Login ----------------------- */

.loginWrapper {
    display:block;
    width:60%;
    min-width:520px;
    margin:0 auto;
    text-align:center;
}

#loginForm {
    display:block;
    width:50%;
    min-width:300px;
    margin:0 auto;
    padding-top:20px;
}

#loginForm input[type="password"] {
    margin-bottom:20px;
}

#loginForm > div:first-of-type{
    width:100%;
    text-align:left;
    margin-bottom:20px;
}

#loginForm input[type="email"], #loginForm input[type="password"]  {
    width:100%;
}

#facebook {
    width:227px;
    height:47px;
}

/* --------------- Profil -------------------- */
.profile-form {
    border:1px solid #FF9F07;
    padding:30px;
}

fieldset .left-column, fieldset .right-column {
    width:50%;
}

fieldset input[type="text"], fieldset input[type="email"], fieldset input[type="password"], fieldset select, fieldset .profileAddress{
    width:100%;
}

fieldset .left-column {
    float:left;
    padding-right:10px;
}

fieldset .right-column {
    float:right;
    padding-left:10px;
}

fieldset #civicNo {
    width:30%;
}

fieldset #street {
    box-sizing:border-box;
    width:68.90%;
}

fieldset::after {
    clear:both;
}

.receivePromo {
    color: #09AAC1;
}

.profileSubmit {
    float:right;
}

.profileSubmit::after {
    clear:both;
}

/* ----------- Catalogue/Services ------------- */

.service, .catalogue{
    padding: 10px;
    border: 2px solid #FF9F07;
    margin: 5px;
    position:relative;
    width:100%;
}
/* Top right corner triangle */
.serviceMenu, .promoMenu{
    float: right;
}
.cornerContentWrapper{
    display: none;
    width: 200px;
    padding: 10px;
    font-weight: bold;
    text-align: left;
    margin-left: -168px;
    margin-top: -10px;
    background-color: #fff;
    position: absolute;
    z-index: 2;
    border: 2px solid #ff9f07;
    box-shadow: 3px 3px 3px #555;
}
.promoCornerContentWrapper{
    display: none;
    width: 210px;
    padding: 10px;
    font-weight: bold;
    text-align: left;
    margin-left: 50px;
    margin-top: -14px;
    background-color: #fff;
    position: absolute;
    z-index: 2;
    border: 2px solid #ff9f07;
    box-shadow: 3px 3px 3px #555;
}
.cornerContentWrapper:focus, .promoCornerContentWrapper{
    outline:none;
}
.cornerContentWrapper a, .promoCornerContentWrapper a{
    color: #000;
    text-decoration: none;
    margin: 5px 0px;
}
.cornerContentWrapper a:hover, .promoCornerContentWrapper a:hover{
    text-decoration: underline;
}

.corner{
    content: '';
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 15px 12.5px 0 12.5px;
    border-color: #FF9F07 transparent transparent transparent;
}

.serviceDescWrapper::after {
    clear:both;
}

.serviceDescWrapper {
    width:100%;
}

.serviceImageWrapper{
    display: inline-block;
    float:left;
    width:20%;
}
.serviceImage {
    margin-left: auto;
    margin-right: auto;
}
.serviceContentAdmin, .serviceContent {
    display: inline-block;
    width:80%;
    min-width: 575px;
    padding-left: 15px;
}
.serviceTitle {
    font-size: 16pt;
    font-weight: bold;
}
.serviceDescription {
    font-weight: bold;
    padding-right:30px;
}
.servicePriceAndLengthWrapper{
    padding-top:30px;
    width: 100%;
}
.servicePriceWrapper{
    width: 45%;
}
.servicePrice {
    color: #09AAC1;
    font-weight: bold;
}

.serviceLengthWrapper {
    width:45%;
}
.serviceLength {
    color: #FF9F07;
    font-weight: bold;
}

.addToCartWrapper {
    width:10%;
}

.addToCartBtn {
    background-color:rgba(255,255,255,0);
    background-image:url('../img/icones/panier.png');
    background-size:contain;
    border:none;
    width:31px;
    height:31px;
}

.serviceShareIcons {
    float:right;
}

.serviceShareIcons img {
    width:82px;
    height:82px;
}

.addNewService {
    text-align:right;
    width:100%;
    margin-bottom:15px;
}

/* ----------- Promotions ------------- */

.servicePromoAdmin{
    display: inline-block;
    padding-top:30px;
    width:100%;
}
.servicePromoText{
    width: 20%;
    color: #FF4A07;
    vertical-align: top;
    font-weight: bold;
}
.promotionTitleText {
    margin:0;
}
.promotion {
    width:75px;
    height:75px;
    padding-top:7px;
    border: 5px solid black;
    display: inline-block;
    position:relative;
    border-radius: 5px;
}
.inactive {
    border-color: rgba(170,170,170,0.5);
    color: rgba(255,74,7,0.5);
}
.inactive .promotionValue .promoValue{
    color: rgba(255,159,7,0.5);
}
.inactive .promotionValue .promotionBoxBottom{
    background-color: rgba(255,159,7,0.5);
}
.inactive .promotionMenuWrapper .corner{
    border-color: rgba(255,159,7,0.5) transparent transparent transparent;
}
.ended:after{
    content: "";
    position: absolute;
    width: 5px;
    height: 141.421356%;
    top: -20.710678%;
    display: block;
    background: rgba(255,0,0,0.5);
    left: 50%;
    opacity: 0.4;
    transform: translate(-50%, 0) rotate(45deg);
}
.active {
    border-color: #6d6;
}
.promotion::before {
    content: '';
    content: '';
    position: absolute;
    top: 0;
    right: 0;
}
.promoValue{
    width: 100%;
    font-weight:bold;
    color: #FF9F07;
    font-size: 18pt;
    margin:0;
    text-align: center;
    height: 49%;
}
.promotionBoxBottom{
    width:100%;
    height: 29%;
    margin:0;
    text-align:center;
    color: #fff;
    display:inline-block;
    vertical-align: middle;
    background-color: #FF9F07;
}
.promocodeText{
    font-weight: bold;
    font-size: 7.5pt;
    padding:0;
    margin:0;
}
.promotionWrapper + .promoPlusWrapper {
    margin-top: -20px;
}
.promoPlusWrapper {
    width: 75px;
    height: 75px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;

}
.promoPlus {
    font-size: 25pt;
    margin:0;
    vertical-align: middle;
    color: #09AAC1;
}
.promoPlus a, .promoPlus a:hover, .promoPlus a:visited, .promoPlus a:focus, .promoPlus a:active {
	color: #09AAC1 !important;
	text-decoration: none !important;
}

/* ------------- Factures -------------- */

.invoiceContent {
    padding: 10px;
    border: 2px solid #FF9F07;
    margin: 5px;
    position:relative;
    width:100%;
}

.invoiceNbWrapper {
    width:10%;
    vertical-align:top;
}

.invoiceNb {
    color: #FF4A07;
}

.invoiceClientWrapper {
    width:48.5%;
}

.invoiceClient {
    text-decoration:underline;
    font-weight:bold;
    padding-bottom:5px;
}

.invoiceConfirmation {
    color:#09AAC1;
}

.invoiceDateWrapper {
    width:40%;
}

.invoiceDate {
    padding-bottom:5px;
    color:#FF9F07;
}

.invoiceTarif {
    color:#09AAC1;
}

.invoiceDetail {
    width:100%;
    padding-left:150px;
    padding-top:13px;
    display:none;
}

.invoiceToggleWrapper {
    width:100%;
}

.invoiceToggle {
    float:right;
    color:#000708 !important;
}

.invoiceService {
    width:100%;
    margin-bottom:5px;
}

.invoiceServiceTitleWrapper {
    width:51%;
}

.invoiceServicePromoTitle, .invoiceServicePromoTarif {
    color:#FF4A07;
}

.invoiceServiceRabaisWrapper {
    text-align:right;
}

/* --------------- Gestion des promotions -------------- */
.addNewPromo a, .addNewPromo a:active, .addNewPromo a:visited,
.addNewService a, .addNewService a:active, .addNewService a:visited {
	color: #09AAC1;
	text-decoration:none;
}

.gestionPromoContent {
	padding: 10px;
    border: 2px solid #FF9F07;
    margin: 5px;
    position:relative;
    width:100%;
}

.addNewPromo {
	text-align:right;
    width:100%;
    margin-bottom:15px;
}

.gestionPromoTitre, .input[name="newPromoTitle"] {
	width:58.5% !important;
	font-weight:bold;
}

.gestionPromoRabais, .input[name="newPromoRebate"] {
	color:#FF9F07;
}

.addPromo input[type="submit"] {
	float:right;
}

/* ---------------- Gestion des services ---------------- */
.service {
    padding: 25px;
}
#serviceHeader {
    font-size: 24px;
    font-weight: 800;
}
#serviceAllRequiredHeader {
    color: #FF4A07;
    font-size: 18px;
    font-weight: 600;
}

.serviceImageSection {
    width: 15%;
    display: inline-block;
}
.serviceImageSection > .serviceImageWrapper {
    position: relative;
    text-align: center;
    display: block;
    border: 1px solid #000;
    margin: 5px 1px 0 1px;
    width: 99%;
    background-color: #fff;
    z-index: 2;
}
.serviceUploadWrapper {
    position: relative;
    z-index: 1;
    border: 1px solid #000;
    max-width: 100%;
    margin: -3px 0 0 0;
    padding: 3px 3px;
}
.serviceUploadImage {
    font-size: 14px;
    display: inline-block;
    width: 60%;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 0px;
    font-weight: 600;
}
#imageUpload{
    display: none;
}
#imageChanged + label {
    padding-right: 5px;
    padding-left: 0;
    margin-top: 5px;
    float: right;
}
#imageChanged + label:hover {
    cursor: pointer;
}

.serviceInformationSection{
    display: inline-block;
    float: right;
    width: 85%;
    padding-left: 15px;
}

#titre, #description {
    width: 100%;
    height: 35px;
    color: #000;
    font-size: 24px;
    font-weight: 600;
    padding-left: 9px;
}
#description {
    height: 135px;
    font-weight: normal;
    resize: none;
}
#tarif, #duree {
    display: inline-block;
    width: 48%;
    font-size: 20px;
    font-weight: bold;
    height: 35px;
}
#tarif {
    color: #09aac1;
    float: right;
}
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:30px;
    height:30px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../img/icones/checkbox.png) left top no-repeat;
    cursor:pointer;
    margin-right: 20px;
}
input[type="checkbox"]:checked + label span {
    background:url(../img/icones/checkbox.png) -29px top no-repeat;
}
#actif + label {
    color: #09aac1;
    font-size: 20px;
    font-weight: 600;
}
.serviceSubmit{
    display: block;
    float: right;
}

/* ---------------- Ajout service à promotion --------------------- */
.addPromoContent {
    padding: 10px;
    border: 2px solid #FF9F07;
    margin: 5px;
    position:relative;
    width:100%;
}

.addPromoContent h3 {
	padding-bottom:30px;
}

.addPromoWrapper {
	width:25%;
	float:left;
	margin:15px;
	border:1px solid #000708;
}

.addPromoNb {
	width:100%;
	padding-top:25px;
	padding-bottom:25px;
	color:#FF9F07;
	text-align:center;
	font-size:56pt;
}

.promoTitleWrapper {
	width:100% !important;
}

#promoName {
	color:#000708;
	background-color:#FF9F07;
	width:100% !important;
	text-transform: uppercase;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #000;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #000;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #000;
}

#tarif::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #09aac1;
}
#tarif:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #09aac1;
    opacity:  1;
}
#tarif::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #09aac1;
    opacity:  1;
}
#tarif:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #09aac1;
}

#duree::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #FF9F07;
}
#duree:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #FF9F07;
    opacity:  1;
}
#duree::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #FF9F07;
    opacity:  1;
}
#duree:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #FF9F07;
}

.addPromoDateWrapper {
    width:70%;
}

.addPromoSubmitWrapper {
    width:100%;
    text-align:right;
}

/* =============== Modal Element ==================== */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
