/*
Couleurs:
- Rouge : #FF4A07
- Orange : #FF9F07
- Bleu : #09AAC1
- Blanc : #FFFAFB
- Noir : #000708
*/

/* ---------------- Général ------------------ */

* {
	box-sizing:border-box;
	display:inline-block;
}

body {
	position:relative;
	top:-20px;
	background-color: #FFFAFB;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	color: #000708;
	width:100%;
	margin: 0;
    padding: 0;
}

img {
	max-width:100%;
}

h2 {
	font-size:26px;
	font-weight:bold;
	color:#000708;
}

h3 {
	color:#FF4A07;
}

.container {
	display:block;
	position:relative;
	top: 0;
	width: 70%;
	min-width:830px;
	margin: 0 auto; /* Centers the elements in the navigator */
}

a, a:visited, a:active {
	color:#FF4A07;
}

a:hover, a:focus {
	color:#FF9F07;
}

/* ---------------- Navigation ------------------ */

#mainMenu {
	width:100%;
	padding-bottom:15px;
	height:150px;
	padding-top:20px;
}

nav {
	position:absolute;
	top:0px;
	width:100%;
	height: 130px;
	background: linear-gradient(#09AAC1, #FFFAFB); /* Standard syntax */
	padding:0 15px;
}
#menuNav {
	height: 100%;
	float: right;
}

#logo {
	margin:15px 20px;
}
.menuOption {
	text-align: right;
	font-weight: bold;
	display: block;
	vertical-align: top;
}
.menuOption a, .menuOption a:visited, .menuOption a:active {
	color: #FFFAFB;
	margin: 20px;
	margin-bottom: 5px;
	margin-right: 3px;
}

.menuOption a:hover, .menuOption a:focus {
	color: #FF9F07;
}

.navOption {
	display: block;
	vertical-align: bottom;
}
.nav {
	font-size: 20pt;
	text-decoration: none;
	font-weight: bold;
	margin: 0 10px 0 5px;
}

.red{
	color: #FF4A07 !important;
}
.yellow {
	color: #FF9F07 !important;
}

/* ---------------- Formulaire ------------------ */
 input, select{
	width:240px;
	height:30px;
	padding:5px;
	border-radius:2pt;
	background-color:rgba(255,255,255,0);
	border:solid 1px #000708;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	color:#FF9F07;
	margin:8px 0;
 }
 
 input:focus{
	border:solid 1px #FF9F07;
 }
 
 input:-webkit-autofill {  /* Removes default autofill calors in Chrome */
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
	color:color:#FF9F07 !important;
}

input[type="button"], input[type="submit"]{
	background-image:url('../img/graphiques/bouton.png');
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
	border:none;
	width:120px;
	height:37px;
	color:#FFFAFB;
}

input[name="search"]{
	width:220px;
	color: #FFFAFB !important;
	background-image:url('../img/graphiques/loupe.png');
	background-position:right;
	background-repeat:no-repeat;
}

fieldset {
	
}
 
/* ---------------- Login ----------------------- */
 
.loginWrapper {
	display:block;
	width:60%;
	min-width:520px;
	margin:0 auto;
	text-align:center;
}

#loginForm {
	display:block;
	width:50%;
	min-width:300px;
	margin:0 auto;
	padding-top:20px;
}

#loginForm input[type="password"] {
	margin-bottom:20px;
}

#loginForm > div:first-of-type{
	width:100%;
	text-align:left;
	margin-bottom:20px;
}
 
 #loginForm input[type="email"], #loginForm input[type="password"]  {
	width:100%;
 }
 
 #facebook {
	width:227px;
	height:47px;
 }

/* ---------------- Services ------------------ */

.service{
	padding: 10px;
	border: 2px solid #FF9F07;
	margin: 5px;
	position:relative;
}
/* Top right corner triangle */
.service::before{
	content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 15px 12.5px 0 12.5px;
    border-color: #FF9F07 transparent transparent transparent;
}
.serviceImageWrapper{
	display: inline-block;
    vertical-align:top;
}
.serviceImage {
	width: 200px;
	height: 175px;
}
.serviceContentAdmin {
	display: inline-block;
	width: 575px;
	padding-left: 15px;
}
.serviceTitle {
	font-size: 16pt;
	margin:0;
	padding:0;
    font-weight: bold;
}
.serviceDescription {
    font-weight: bold;
}
.servicePriceAndLengthWrapper{
	width: 100%;
}
.servicePriceWrapper{
	width: 50%;
}
.servicePrice {
	color: #09AAC1;
    font-weight: bold;
}
.serviceLength {
	color: #FF9F07;
    font-weight: bold;
}

.servicePromoAdmin{
	display: inline-block;
}
.servicePromoText{
	width: 200px;
	color: #FF4A07;
	vertical-align: top;
    font-weight: bold;
}
.promotionTitleText {
	margin:0;
}
.promotion {
	width:75px;
	height:75px;
	border: 1px solid black;
	display: inline-block;
	position:relative;
}
.promotion::before {
	content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 15px 12.5px 0 12.5px;
    border-color: #FF9F07 transparent transparent transparent;
}
.promoValue{
	width: 100%;
	font-weight:bold;
	color: #FF9F07;
	font-size: 18pt;
	margin:0;
	padding-top:15px;
	text-align: center;
	height: 70%;
}
.promotionBoxBottom{
	width:100%;
	height: 29%;
	margin:0;
	text-align:center;
	color: #fff;
	display:inline-block;
	vertical-align: middle;
	background-color: #FF9F07;
}
.promocodeText{
	font-weight: bold;
	font-size: 7.5pt;
	padding:0;
	margin:0;
}
.promotionWrapper + .promoPlusWrapper {
	margin-top: -20px;
}
.promoPlusWrapper {
	width: 75px;
	height: 75px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	
}
.promoPlus {
	font-size: 25pt;
	margin:0;
	vertical-align: middle;
	color: #09AAC1;
}









