/*
 * Style temporaire pour ne pas gerer les conflits git
 */
.container {
	width: 920px;
}
nav {
	margin: 0;
	//width: 800px;
	width: 56%;
	height: 100px; /* Solution temporaire pour avoir un navbar semblable au template */
	background: linear-gradient(#09AAC1, #fff); /* Standard syntax */
}
nav span+span {
	height: 100%;
	float: right;
}
p {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.logo {
	background: -webkit-linear-gradient(#fd0, #f00);
	font-size: 50pt;
	font-weight: bold;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1.5px #fff;
	text-decoration: none;
	display: inline-block;
}
.menuOption {
	text-align: right;
	font-weight: bold;
	display: block;
	vertical-align: top;
}
.menuOption a {
	color: white;
	margin: 20px;
	margin-bottom: 5px;
	margin-right: 3px;
}
.navOption {
	display: block;
	vertical-align: bottom;
}
.nav {
	font-size: 20pt;
	text-decoration: none;
	font-weight: bold;
	margin: 0 10px 0 5px;
}

.red {
	color: #FF4A07;
}
.yellow {
	color: #FF9F07;
}
.service{
	padding: 10px;
	border: 2px solid #FF9F07;
	margin: 5px;
	position:relative;
	width: 820px;
}
/* Top right corner triangle */
.service::before{
	content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 15px 12.5px 0 12.5px;
    border-color: #FF9F07 transparent transparent transparent;
}
.serviceImageWrapper{
	display: inline-block;
    vertical-align:top;
}
.serviceImage {
	width: 200px;
	height: 175px;
}
.serviceContentAdmin {
	display: inline-block;
	width: 575px;
	padding-left: 15px;
}
.serviceTitle {
	font-size: 16pt;
	margin:0;
	padding:0;
    font-weight: bold;
}
.serviceDescription {
    font-weight: bold;
}
.servicePriceAndLengthWrapper{
	width: 100%;
}
.servicePriceWrapper{
	width: 50%;
}
.servicePrice {
	color: #09AAC1;
    font-weight: bold;
}
.serviceLength {
	color: #FF9F07;
    font-weight: bold;
}

.servicePromoAdmin{
	display: inline-block;
}
.servicePromoText{
	width: 200px;
	color: #FF4A07;
	vertical-align: top;
    font-weight: bold;
}
.promotionTitleText {
	margin:0;
}
.promotion {
	width:75px;
	height:75px;
	border: 1px solid black;
	display: inline-block;
	position:relative;
}
.promotion::before {
	content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 15px 12.5px 0 12.5px;
    border-color: #FF9F07 transparent transparent transparent;
}
.promoValue{
	width: 100%;
	font-weight:bold;
	color: #FF9F07;
	font-size: 18pt;
	margin:0;
	padding-top:15px;
	text-align: center;
	height: 70%;
}
.promotionBoxBottom{
	width:100%;
	height: 29%;
	margin:0;
	text-align:center;
	color: #fff;
	display:inline-block;
	vertical-align: middle;
	background-color: #FF9F07;
}
.promocodeText{
	font-weight: bold;
	font-size: 7.5pt;
	padding:0;
	margin:0;
}
.promotionWrapper + .promoPlusWrapper {
	margin-top: -20px;
}
.promoPlusWrapper {
	width: 75px;
	height: 75px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	
}
.promoPlus {
	font-size: 25pt;
	margin:0;
	vertical-align: middle;
	color: #09AAC1;
}








